{% extends 'base.html.twig' %}

{% block title %}{{ 'title.security.user'|trans }} · {{ parent() }}{% endblock title %}

{% block headline %}
    <h1>
        <span class="fa fa-fw fa-users"></span>
        {{ 'title.security.user'|trans }}
    </h1>
{% endblock %}

{% set direction = pagination.getDirection() %}

{% block container %}
    <table class="table">
        <thead>
        <tr>
            <th id="user-gravatar">&nbsp;&nbsp;<span class="fa fa-user-tie"></span></th>
            <th id="user-username">
                {{ knp_pagination_sortable(pagination, 'form.user.field.username' | trans, 'user.label')}}
                <span class="{{ faSort(pagination.isSorted('user.label'), direction, 'alpha') }}"></span>
            </th>
            <th id="user-mail">
                {{ knp_pagination_sortable(pagination, 'form.user.field.mail' | trans, 'user.mail')}}
                <span class="{{ faSort(pagination.isSorted('user.mail'), direction, 'alpha') }}"></span>
            </th>
            <th id="user-actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
            <tr>
                <td headers="user-gravatar"><img src="{{ user.mail | gravatarFilter(24) }}" width="24" height="24" alt="{{ 'form.user.field.gravatar' | trans }}"/></td>
                <td headers="user-username">{{ user.label }}</td>
                <td headers="user-mail">{{ user.mail }}</td>
                <td headers="user-actions">
                    <div class="btn-group-xs btn-group">
                        <a class="btn btn-default" href="{{ path('administration_user_show', { 'id': user.id }) }}">
                            <span class="fa fa-eye"></span>
                            <span class="sr-only">{{ 'action.show' | trans }}</span>
                        </a>
                        <a class="btn btn-default" href="{{ path('administration_user_edit', { 'id': user.id }) }}">
                            <span class="fa fa-edit"></span>
                            <span class="sr-only">{{ 'action.edit' | trans }}</span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-right">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock container %}

{% block content_action %}
    <div class="text-center">
        <a class="btn btn-default" href="{{ path('administration_user_new') }}"
           data-toggle="tooltip" data-placement="left" title="{{ 'administration.user.action.create.title' | trans }}">
            <span class="fa fa-user"></span>
            {{ 'administration.user.create' | trans }}
        </a>
    </div>
{% endblock content_action %}
