{% extends 'default/_entity.html.twig' %}

{% block title %}
    {{ 'title.organization.show %name%'|trans({'%name%': organization.label}) }} · {{ parent() }}
{% endblock title %}

{% block headline %}
    <h1>
        <span class="fa fa-building"></span>
        {{ 'title.organization.show %name%'|trans({'%name%': organization.label}) }}
    </h1>
{% endblock headline %}

{% block content_settings %}
    <div class="row">
        <div class="col-sm-8">
            <dl class="row">
                <dt class="col-sm-4 text-truncate text-right">{{ 'form.organization.field.label'| trans }}</dt>
                <dd class="col-sm-8 ">{{ organization.label }}</dd>
                <dt class="col-sm-4 text-truncate text-right">{{ 'form.organization.field.legal-name'| trans }}</dt>
                <dd class="col-sm-8">{{ organization.legalName }}</dd>
                <dt class="col-sm-4 text-truncate text-right">{{ 'form.organization.field.acronym-definition'| trans }}</dt>
                <dd class="col-sm-8">{{ organization.acronymDefinition }}</dd>
            </dl>
        </div>
        <div class="col-sm-4">
            <dl class="row">
                {% if organization.facebook is not empty %}
                    <dt class="col-sm-4 text-truncate text-right"><span class="fa fa-facebook"></span></dt>
                    <dd class="col-sm-8 ">{{ organization.facebook }}</dd>
                {% endif %}
                {% if organization.instagram is not empty %}
                    <dt class="col-sm-4 text-truncate text-right"><span class="fa fa-instagram"></span></dt>
                    <dd class="col-sm-8 ">{{ organization.instagram }}</dd>
                {% endif %}
                {% if organization.linkedIn is not empty %}
                    <dt class="col-sm-4 text-truncate text-right"><span class="fa fa-linkedin"></span></dt>
                    <dd class="col-sm-8 ">{{ organization.linkedIn }}</dd>
                {% endif %}
                {% if organization.twitter is not empty %}
                    <dt class="col-sm-4 text-truncate text-right"><span class="fa fa-twitter"></span></dt>
                    <dd class="col-sm-8 ">{{ organization.twitter }}</dd>
                {% endif %}
                {% if organization.youtube is not empty %}
                    <dt class="col-sm-4 text-truncate text-right"><span class="fa fa-youtube"></span></dt>
                    <dd class="col-sm-8 ">{{ organization.youtube }}</dd>
                {% endif %}
            </dl>
        </div>
    </div>
    {% if organization.address is not empty %}
        <hr/>
        <dl class="row">
            <dt class="col-sm-4 text-truncate text-right">{{ 'form.organization.field.address'| trans }}</dt>
            <dd class="col-sm-8">
                {% if organization.address.postOfficeBoxNumber is not empty -%}
                    {{ organization.address.postOfficeBoxNumber }}<br/>
                {%- endif %}
                {% if organization.address.streetAddress is not empty -%}
                    {{ organization.address.streetAddress }}<br/>
                {%- endif %}
                {% if organization.address.postalCode is not empty or organization.address.locality -%}
                    {{ organization.address.postalCode }} {{ organization.address.locality }}<br/>
                {%- endif %}
                {{ organization.address.country | country }}
            </dd>
        </dl>
    {% endif %}

{% endblock content_settings %}

{% block content_action %}{% include 'organization/_content-action.html.twig' %}{% endblock content_action %}
