{% extends 'base.html.twig' %}

{% block container %}
    <div class="float-right btn-group-vertical btn-group-sm mx-3 my-0">
        {% block content_action %}{% endblock content_action %}
    </div>
    {% block content_tabs %}
        <div class="card">
            <div class="card-header">
                {# <!-- Nav tabs --> #}
                <ul class="nav nav-tabs card-header-tabs" id="entityTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#general" aria-controls="home" role="tab" data-toggle="tab">
                            <span class="fa fa-info-circle"></span>
                            {{ 'entity.tab.general' | trans }}
                        </a>
                    </li>
                    {% block content_tabs_header %}{% endblock content_tabs_header %}
                    <li class="nav-item">
                        <a class="nav-link {{ logs is not defined ? 'disabled' }}" href="#logs" aria-controls="profile" role="tab" data-toggle="tab">
                            <span class="fa fa-file-archive"></span>
                            {{ 'entity.tab.logs' | trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ information is not defined ? 'disabled' }}" href="#informations" aria-controls="messages" role="tab" data-toggle="tab">
                            <span class="fa fa-clock"></span>
                            {{ 'entity.tab.informations' | trans }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="">
                {# <!-- Tab panes --> #}
                <div class="card-body tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="general">
                        {% block content_settings %}{% endblock content_settings %}
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="logs">
                        {% block content_logs %}
                            {% if logs is defined and logs | length > 0 %}
                                <div class="panel panel-default" id="default-logs">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{ 'entity.log.title' | trans }}</h3>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="text-center" id="logs-version"
                                                scope="col">{{ 'entity.log.version' | trans }}</th>
                                            <th class="text-center" id="logs-action"
                                                scope="col">{{ 'entity.log.action' | trans }}</th>
                                            <th class="text-center" id="logs-date"
                                                scope="col">{{ 'entity.log.date' | trans }}</th>
                                            <th class="text-center" id="logs-user"
                                                scope="col">{{ 'entity.log.user' | trans }}</th>
                                            <th class="text-center" id="logs-value"
                                                scope="col">{{ 'entity.log.new-value' | trans }}</th>
                                        </tr>
                                        </thead>
                                        {% for log in logs %}
                                            <tr>
                                                <td headers="logs-version"
                                                    class="text-center col-sm-1 row{{ log.version }}">{{ log.version }}</td>
                                                <td headers="logs-action"
                                                    class="text-center col-sm-1 row{{ log.version }}">
                                                    <span class="label label-default">{{ ('entity.log.actions.' ~ log.action) | trans }}</span>
                                                </td>
                                                <td headers="logs-date"
                                                    class="text-center col-sm-2 row{{ log.version }}">{{ log.loggedAt | localizeddate('medium','medium') }}</td>
                                                <td headers="logs-user"
                                                    class="text-center col-sm-2 row{{ log.version }}">{{ log.username }}</td>
                                                <td headers="logs-value" class="row{{ log.version }}">
                                                    {% block log %}
                                                        <dl class="row">
                                                            {% if log.data.acronymDefinition is defined %}
                                                                <dt class="col-sm-6 text-right">{{ 'entity.log.data.acronym-definition' | trans }}</dt>
                                                                <dd class="col-sm-6">{{ log.data.acronymDefinition }}</dd>
                                                            {% endif %}
                                                            {% if log.data.label is defined %}
                                                                <dt class="col-sm-6 text-right">{{ 'entity.log.data.label' | trans }}</dt>
                                                                <dd class="col-sm-6">{{ log.data.label }}</dd>
                                                            {% endif %}
                                                            {% if log.data.legalName is defined %}
                                                                <dt class="col-sm-6 text-right">{{ 'entity.log.data.legal-name' | trans }}</dt>
                                                                <dd class="col-sm-6">{{ log.data.legalName }}</dd>
                                                            {% endif %}
                                                            {% if log.data.mail is defined %}
                                                                <dt class="col-sm-6 text-right">{{ 'entity.log.data.mail' | trans }}</dt>
                                                                <dd class="col-sm-6">{{ log.data.mail }}</dd>
                                                            {% endif %}
                                                            {% if log.data.password is defined %}
                                                                <dt class="col-sm-6 text-right">{{ 'entity.log.data.password' | trans }}</dt>
                                                                <dd class="col-sm-6">&bull;&bull;&bull;&bull;&bull;</dd>
                                                            {% endif %}
                                                            {% if log.data.roles is defined %}
                                                                <dt class="col-sm-6 text-right">{{ 'entity.log.data.roles' | trans }}</dt>
                                                                <dd class="col-sm-6">{{ log.data.roles | roles }}</dd>
                                                            {% endif %}
                                                        </dl>
                                                    {% endblock log %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                            {% if addressLogs is defined and addressLogs | length > 0 %}
                                {% dump(addressLogs) %}
                                <div class="panel panel-default" id="default-logs">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{ 'entity.addressLog.title' | trans }}</h3>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="text-center" id="logs-version"
                                                scope="col">{{ 'entity.log.version' | trans }}</th>
                                            <th class="text-center" id="logs-action"
                                                scope="col">{{ 'entity.log.action' | trans }}</th>
                                            <th class="text-center" id="logs-date"
                                                scope="col">{{ 'entity.log.date' | trans }}</th>
                                            <th class="text-center" id="logs-user"
                                                scope="col">{{ 'entity.log.user' | trans }}</th>
                                            <th class="text-center" id="logs-value"
                                                scope="col">{{ 'entity.log.new-value' | trans }}</th>
                                        </tr>
                                        </thead>
                                        {% for log in addressLogs %}
                                            <tr>
                                                <td headers="logs-version"
                                                    class="text-center col-sm-1 row{{ log.version }}">{{ log.version }}</td>
                                                <td headers="logs-action"
                                                    class="text-center col-sm-1 row{{ log.version }}">
                                                    <span class="label label-default">{{ ('entity.log.actions.' ~ log.action) | trans }}</span>
                                                </td>
                                                <td headers="logs-date"
                                                    class="text-center col-sm-2 row{{ log.version }}">{{ log.loggedAt | localizeddate('medium','medium') }}</td>
                                                <td headers="logs-user"
                                                    class="text-center col-sm-2 row{{ log.version }}">{{ log.username }}</td>
                                                <td headers="logs-value" class="row{{ log.version }}">
                                                    {% block addressLog %}
                                                        <dl class="row">
                                                            {% if log.data.streetAddress is defined %}
                                                                <dt class="col-sm-6 text-right">{{ 'entity.log.data.streetAddress' | trans }}</dt>
                                                                <dd class="col-sm-6">{{ log.data.streetAddress }}</dd>
                                                            {% endif %}
                                                            {% if log.data.postalBoxOfficeNumber is defined %}
                                                                <dt class="col-sm-6 text-right">{{ 'entity.log.data.postal-box-office-number' | trans }}</dt>
                                                                <dd class="col-sm-6">{{ log.data.postalBoxOfficeNumber }}</dd>
                                                            {% endif %}
                                                            {% if log.data.postalCode is defined %}
                                                                <dt class="col-sm-6 text-right">{{ 'entity.log.data.postal-code' | trans }}</dt>
                                                                <dd class="col-sm-6">{{ log.data.postalCode }}</dd>
                                                            {% endif %}
                                                            {% if log.data.locality is defined %}
                                                                <dt class="col-sm-6 text-right">{{ 'entity.log.data.locality' | trans }}</dt>
                                                                <dd class="col-sm-6">{{ log.data.locality }}</dd>
                                                            {% endif %}
                                                            {% if log.data.country is defined %}
                                                                <dt class="col-sm-6 text-right">{{ 'entity.log.data.country' | trans }}</dt>
                                                                <dd class="col-sm-6">{{ log.data.country.id }}</dd>
                                                            {% endif %}
                                                        </dl>
                                                    {% endblock addressLog %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                        {% endblock content_logs %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="informations">
                        {% block content_information %}
                            {% if information is defined %}
                                <div class="panel panel-default" id="default-creator-information">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{ 'entity.information' | trans }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <dl class="row">
                                            {% if information.created %}
                                                <dt class="col-sm-4 text-truncate text-right">{{ 'administration.created.at' | trans }}</dt>
                                                <dd class="col-sm-8">{{ information.created | localizeddate('short', 'short') }}</dd>
                                            {% endif %}
                                            {% if information.creator %}
                                                <dt class="col-sm-4 text-truncate text-right">{{ 'administration.created.by' | trans }}</dt>
                                                <dd class="col-sm-8">{{ information.creator.label }}
                                                    ({{ information.creator.mail }})
                                                </dd>
                                            {% endif %}
                                            {% if information.updated %}
                                                <dt class="col-sm-4 text-truncate text-right">{{ 'administration.updated.at' | trans }}</dt>
                                                <dd class="col-sm-8">{{ information.updated | localizeddate('short', 'short') }}</dd>
                                            {% endif %}
                                        </dl>
                                    </div>
                                </div>
                            {% endif %}
                        {% endblock content_information %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock content_tabs %}
{% endblock container %}

{% block modal %}
    {% if delete_form is defined %}
        {{ form_start(delete_form) }}
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-light">
                        <h4 class="modal-title">{{ 'modal.entity.delete.confirm' | trans }}</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="{{ 'action.close' | trans }}">
                            <span aria-hidden="true">&times</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <p class="text-right text-primary">
                                    <span class="fa fa-exclamation-triangle fa-fw fa-3x"></span>
                                </p>
                            </div>
                            <div class="col-sm-10">
                                <p>{{ 'modal.entity.delete.core' | trans }}</p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                            <span class="fa fa-undo-alt"></span>&nbsp;{{ 'modal.entity.delete.cancel' | trans }}
                        </button>
                        {% if delete_form is defined %}
                            {{ form_widget(delete_form.delete) }}
                        {% endif %}
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
