<div class="float-right border-left pl-3">
    <ul class="list-unstyled">
        {% if entity.facebook is not empty %}
            <li><a href="{{ entity.facebook }}" title=""><span class="fab fa-facebook-square fa-2x"></span></a></li>
        {% endif %}
        {% if entity.instagram is not empty %}
            <li><a href="{{ entity.instagram }}" title=""><span class="fab fa-instagram fa-2x"></span></a></li>
        {% endif %}
        {% if entity.linkedIn is not empty %}
            <li><a href="{{ entity.linkedIn }}" title=""><span class="fab fa-linkedin fa-2x"></span></a></li>
        {% endif %}
        {% if entity.twitter is not empty %}
            <li><a href="{{ entity.twitter }}" title=""><span class="fab fa-twitter-square fa-2x"></span></a></li>
        {% endif %}
        {% if entity.youtube is not empty %}
            <li><a href="{{ entity.youtube }}" title=""><span class="fab fa-youtube-square fa-2x"></span></a></li>
        {% endif %}
    </ul>
</div>
