{% use 'bootstrap_4_horizontal_layout.html.twig' %}

{# TODO Optimize by using parent() #}
{% block form_row -%}
    {%- if (label is defined and label == 'form.organization.field.address') -%}
        {{ block('form_address') }}
    {%- elseif expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        {%- set widget_attr = {} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
        {%- endif -%}
        <div class="form-group row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form, widget_attr) -}}
                {{- form_help(form) -}}
            </div>
        </div>
    {%- endif -%}
{%- endblock form_row %}

{% block form_address -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <fieldset class="form-group">
        <div class="row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
            <div class="col-sm-12">
                {{- form_widget(form, widget_attr) -}}
                {{- form_help(form) -}}
            </div>
        </div>
        {##}</fieldset>
{%- endblock form_address %}
