{% extends 'base.html.twig' %}

{% block title %}{{ 'title.search.index'|trans }} · {{ parent() }}{% endblock title %}

{% block headline %}
    <h1>
        <span class="fas fa-fw fa-search"></span>
        {{ 'title.search.result'|trans }}
    </h1>
{% endblock %}

{% block container %}
    <div class="card">
    <div class="card-header">
        {{ form(form_search) }}
        {#<form class="form-inline" action="{{ path('search') }}" method="get">#}
            {#<div class="input-group mb-2">#}
                {#<input type="text" class="form-control" name="search"#}
                       {#placeholder="Recherche&hellip;" value="{{ criteria }}">#}
                {#<div class="input-group-append">#}
                    {#<button class="btn btn-secondary my-0" type="submit"><span class="fa fa-search"></span></button>#}
                {#</div>#}
            {#</div>#}
        {#</form>#}
        <ul class="nav nav-tabs card-header-tabs" id="entityTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#persons" aria-controls="persons" role="tab" data-toggle="tab">
                    <span class="fas fa-address-card"></span>
                    {{ 'search.tab.person %count%' | trans({'%count%': personPaginator.totalItemCount }) }}
                </a>
            <li class="nav-item">
                <a class="nav-link" href="#organizations" aria-controls="organizations"
                   role="tab" data-toggle="tab">
                    <span class="fa fa-file-archive"></span>
                    {{ 'search.tab.organization %count%' | trans({'%count%': 0}) }}
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="persons">
            <div class="text-right">
                {{ knp_pagination_render(personPaginator) }}
            </div>
            {% if personPaginator.items is empty %}
                <div class="alert alert-info">
                    {{ 'search.person.empty' | trans }}
                </div>
            {% else %}
                <div class="row">
                    {% for person in personPaginator.items %}
                        <div class="col-sm-4">
                            <div class="card my-2">
                                <h5 class="card-header">
                                    <a href="{{ path('person_show', {'id': person.id}) }}"
                                       class="text-dark"><u>{{ person.label }}</u></a>
                                    <span class="fas fa-address-card float-right"></span>
                                </h5>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-10 d-flex align-items-start flex-column">
                                            <p class="mb-auto text-center mx-auto">
                                                <strong class="d-block">{{ person.jobTitle }}</strong>
                                                {% if person.memberOf %}
                                                    <a href="{{ path('organization_show', {'id': person.memberOf.id}) }}"
                                                       class="text-secondary">
                                                        <u>{{ person.memberOf.label }}</u>
                                                    </a>
                                                {% endif %}
                                            </p>
                                            <ul class="list-unstyled font-small mb-0">
                                                <li>{{ 'form.field.tel' | trans }}: {{ person.telephone }}</li>
                                                <li>{{ 'form.field.smartphone' | trans }}
                                                    : {{ person.smartphone }}</li>
                                                <li>{{ 'form.field.email' | trans }}: {{ person.email }}</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="{{ person.facebook }}" title=""><span
                                                        class="fab fa-facebook-square"></span><br/></a>
                                            <a href="{{ person.instagram }}" title=""><span
                                                        class="fab fa-instagram"></span><br/></a>
                                            <a href="{{ person.linkedIn }}" title=""><span
                                                        class="fab fa-linkedin"></span><br/></a>
                                            <a href="{{ person.twitter }}" title=""><span
                                                        class="fab fa-twitter-square"></span><br/></a>
                                            <a href="{{ person.youtube }}" title=""><span
                                                        class="fab fa-twitter-square"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="text-right">
                {{ knp_pagination_render(personPaginator) }}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="organizations">
            {% if 0 == 0 %}
                <div class="alert alert-info">
                    {{ 'search.organization.empty' | trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock container %}