{% if is_granted('ROLE_MANAGE_ORGANIZATION') %}
    <p class="text-right">
        <a href="{{ path('service_new', {'organization': organization.id}) }}" class="btn btn-outline-primary mb-2" title="{{ 'action.service.create.title' | trans }}"
            data-toggle="tooltip">
            {{ 'action.entity.create.text' | trans }}
        </a>
    </p>
{% endif %}
{% if services is empty %}
    <p class="alert alert-info">
        {{ 'search.service.empty' | trans }}
    </p>
{% else %}
    <ul class="list-unstyled">
        {% for service in services %}
            <li class="btn-group mb-1">
                <span class="btn disabled btn-outline-secondary">{{ service.name }}</span>
                <a class="btn btn-outline-secondary" href="{{ path('service_show', {'id': service.id}) }}" title="{{ 'service.show' | trans }}" data-toggle="tooltip" data-placement="bottom">
                    <span class="fas fa-eye"></span>
                    <span class="sr-only">{{ 'action.entity.create.text' | trans }}</span>
                </a>
                {% if is_granted('ROLE_MANAGE_ORGANIZATION') %}
                    <a class="btn btn-outline-secondary" href="{{ path('service_edit', {'id': service.id}) }}" title="{{ 'service.edit' | trans }}" data-toggle="tooltip" data-placement="bottom">
                        <span class="fas fa-edit"></span>
                        <span class="sr-only">{{ 'action.entity.edit.text' | trans }}</span>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endif %}