{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
    <title>{% block title %}Contacts{% endblock title %}</title>


</head>
{% block body %}
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
        <div class="container">
            <a class="navbar-brand" href="#" style="background-color: white; padding-left: 10px; padding-right: 10px;">
                <img src="{{ asset('img/logo.svg') }}" width="30" height="45" alt="Cerema">
                <span class="text-primary"><strong>Cerema</strong></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link active" href="{{ path('home') }}">Accueil <span
                                class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">Contacts</a>
                    <a class="nav-item nav-link" href="#">Organisations</a>
                </div>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Recherche">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Recherche</button>
                </form>
            </div>
        </div>
    </nav>
    {% include 'flash.html.twig' %}
    <div class="container">
        {% block headline %}<h1>Contacts</h1>{% endblock headline %}
        {% block content_breadcrumb %}{% endblock content_breadcrumb %}
        {% block container %}{% endblock container %}
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}
</body>
</html>